* {
    /* border: 1px solid blue; */
}

html {
    height: 100vh;
    font-family: 'Helvetica', sans-serif;
    font-size: 62.5%;
    background: linear-gradient(to bottom right, rgb(204, 233, 242), rgb(102, 158, 211) );
}

header {
    margin-bottom: 3rem;
    padding: 2rem;
    text-align: center;
}

h1 {
    font-size: 4rem;
    line-height: 1.15;
    margin-bottom: 2rem;;
}

span {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
    text-decoration: underline;
}
select {
    font-size: 2rem;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10vw;
    gap: 5rem;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem 2rem;
    gap: 2rem;
}

.item {
    /* border: 1px solid black; */
}

img {
    max-width: 90rem;
    max-height: 70rem;
}

#emoji {
    font-size: 2rem;
    text-align: center;
    letter-spacing: .25rem;
    margin-bottom: 1rem;
}

#dog-name {
    text-decoration: none;
    font-weight: normal;
    font-size: 3rem;
}

.left {
    align-items: center;
}

ul {
    margin-top: 2rem;
}
li {
    list-style-type: disc;
    font-size: 2rem;
    line-height: 1.5;
}